.card-action {
    display: block !important;
    text-align: initial !important;
    width: 100% !important;
}

.add-card {
/*    opacity: 50% !important;*/
    background-color: #3f51b5 !important;
}

.icon-text {
    color: white !important;
}

.icon-text::after {
    content: '  Add new widget';
}