.card-action {
    display: block !important;
    text-align: initial !important;
    width: 100% !important;
    height: 100% !important;
}

.add-card {
    min-height: 300px;
    height: 100%;
    opacity: 50% !important;
    border: 2px dashed black !important;
}

.add-card:hover {
    opacity: 100% !important;
}

.icon-text {
    color: black !important;
    height: auto !important;
}

/*.icon-text::after {
    content: '  Add new widget';
}*/