.paper {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    margin: 1px;
    background-color: whitesmoke;
}

.form {
    width: 100%;
    margin-top: 1px;
}

.submit {
    margin: 3px;
}

.google-submit {
    margin-top: 15px !important;
}

.link {
    padding-top: 15px;
}