.dashboard-card {
    background-color: wheat !important;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75) !important;
}
